matplotlib>=3.8.0
numpy>=1.26.1
pandas>=2.1.1
PyQt6>=6.5.3
scipy>=1.11.3
lightgbm[scikit-learn,pandas]>=4.1.0
optuna>=3.4.0
sigopt>=8.8.2
psutil
joblib
liac-arff>=2.5.0
sequd @ git+https://github.com/kriap139/SeqUD.git